@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
html{
	font-size: 10px;
}
body{
	font-size: 1.4rem;
}
.clearfix{
	@include clearfix;
}
.fl-left{
	float: left;
	
}
.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include clearfix;
}
.flexbox{
	display: flex;
}
.mb-30{
	margin-bottom: 30px;
}
.page-title{
	font-size: 26px;
	margin-bottom: 30px;
}	