@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}
html{
	font-size: 10px;
}
body{
	font-size: 1.4rem;
}
.clearfix{
	@include clearfix;
}
.fl-left{
	float: left;
	
}
.container{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include clearfix;
}
.flexbox{
	display: flex;
}
.mb-30{
	margin-bottom: 30px;
}
.page-title{
	font-size: 26px;
	margin-bottom: 30px;
}	

.navigation{
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	.nav{
		list-style-type: none;
		li{
			a{
				display: block;
				padding: 15px 20px;
				text-decoration: none;
				color:#333;
				font-size: 1.5rem;
				font-weight: bold;
				position: relative;
				
				&:after{
					content: "";
					position: absolute;
					width: 0;
					height: 1px;
					bottom: -1px;
					left: 0;
					border-bottom: 2px solid black;

				}
				&.active{
					color:#000;
					&:after{
						width: 100%;
						transition: width 300ms;
					}
				}
			}
		}
		>li{
			display: inline-block;
			margin-right: 30px;
			ul{
				display: none;
				
			}
		}
	}
}
.tab-content{
	padding-top: 15px;
	padding-bottom: 20px;

}
.mb-20{
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 16px;
}